<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="js__appComponent"></div>

    <script src='build/main.js'></script>
  </body>
</html>
